<div class="row sub-header">
    <h3>Производители</h3>
    <a href="#" ui-sref="extension.shop.manufacturer.create" class="btn btn-success pull-right">
        <i class="fa fa-plus"></i>
        Добавить
    </a>
</div>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th class="col-sm-10">Наименование</th>
            <th class="col-sm-2"></th>
        </tr>
        <tr ng-repeat="manufacturer in manufactures">
            <td>
                <span ng-bind="manufacturer.title"></span>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info btn-xs" href="#" ui-sref="extension.shop.manufacturer.update({id: manufacturer.id})">Редактировать</a>
                    <button class="btn btn-danger btn-xs" ng-click="onManufacturerRemoveClick(manufacturer)">Удалить</button>
                </div>
            </td>
        </tr>
    </table>
    <div bc-pagination total="pagination.totalPages" size="pagination.perPage" current="pagination.current" on-select="onSelectPage(page)"></div>
</div>